<footer class="footer">
    <div class="footer-lightblue">
        <div class="container-new">
            <ul class="footer-nav">
                <li class="footer-nav-item"><a href="#" class="color-white font-size-14 text-semibold">О Компании</a></li>
                <li class="footer-nav-item"><a href="#" class="color-white font-size-14 text-semibold">Услуги и Меры Поддержки</a></li>
                <li class="footer-nav-item"><a href="#" class="color-white font-size-14 text-semibold">Институты Развития</a></li>
                <li class="footer-nav-item"><a href="#" class="color-white font-size-14 text-semibold">Истории успеха</a></li>
                <li class="footer-nav-item"><a href="#" class="color-white font-size-14 text-semibold">Новости</a></li>
                <li class="footer-nav-item"><a href="#" class="color-white font-size-14 text-semibold">Контакты</a></li>
            </ul>
            <div class="footer-info">
                <a href="#"><img src="img/krio-logo-white.svg"></a>
                <div class="footer-info-buttons">
                    <a href="#" class="footer-button color-blue font-size-14 text-semibold text-uppercase">Получить поддержку</a>
                    <a href="#" class="footer-button color-blue font-size-14 text-semibold text-uppercase">Задать вопрос</a>
                </div>
                <div class="footer-info-contacts">
                    <p class="text-regular color-white font-size-26 text-uppercase">Контакты</p>
                    <a class="text-regular color-white font-size-14">ЭЛ.Почта: Irkutsk@aokrio.ru</a>
                    <a class="text-regular color-white font-size-14">ТЕЛЕФОН: +7 (3952) 225-588</a>
                    <a class="text-regular color-white font-size-14 pb-0">АДРЕС: Иркутск, ул. Свердлова, 10, оф. 8.12</a>
                </div>
                <div class="footer-up">

                </div>
            </div>
        </div>
    </div>
    <div class="footer-darkblue">
        <div class="container">
            <div class="footer-copyright">
                <p class="text-regular color-white font-size-14 opacity">© 2020 «Корпорация развития Иркутской Области»</p>
                <a href="#" class="copyright text-regular color-white font-size-14 opacity">Политика конфиднециальности</a>
                <a href="#" class="copyright text-regular color-white font-size-14 opacity">Согласие на обработку персональных данных</a>
                <a href="https://rowstudio.ru/" target="_blank" class="copyright text-regular color-white font-size-14 opacity">Разработка сайта: ROWSTUDIO.RU</a>
            </div>
        </div>
    </div>
</footer>
<script src="js/main.min.js"></script>