<header class="header">
    <div class="header-info">
        <div class="container flex-box space-between flex-center" id="myDiv1">
            <form class="header-info-search">
                <input type="text" value placeholder="Поиск по сайту...">
            </form>
            <a href="index.html"><img src="img/krio-logo.svg"></a>
            <div class="header-info-contacts">
                <div><a href="#" class="text-regular font-size-14 color-gray">+7 (3952) 225-588</a></div>
                <div><a href="#" class="text-regular font-size-14 color-gray">Irkutsk@aokrio.ru</a></div>
            </div>
            <div class="header-getting-support-button">
                <a href="#" class="header-button color-blue font-size-14 text-semibold text-uppercase">Получить поддержку</a>
            </div>
            <div class="burger" id="burger">
                <div class="burger-line1">
                </div>
                <div class="burger-line2">
                </div>
                <div class="burger-line3">
                </div>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="container">
            <ul class="header-nav" id="myDiv2">
                <li class="header-nav-item"><a href="about.html" class="header-nav-item-main color-gray font-size-14 text-semibold pl-0">О Компании</a></li>
                <li class="header-nav-item parent-a"><a class="header-nav-item-main color-gray font-size-14 text-semibold" id="services-href">Услуги и Меры Поддержки</a>
                    <ul class="menu-child">
                        <li><a href="#" class="color-gray font-size-12 text-regular">Проектное финансирование</a></li>
                        <li><a href="#" class="color-gray font-size-12 text-regular">Поручительство</a></li>
                        <li><a href="#" class="color-gray font-size-12 text-regular">Кредитование и Лизинг</a></li>
                        <li><a href="#" class="color-gray font-size-12 text-regular">Создание инфраструктуры</a></li>
                    </ul>
                </li>
                <li class="header-nav-item"><a href="investment-projects.html" class="header-nav-item-main color-gray font-size-14 text-semibold">Инвестиционные Проекты</a></li>
                <li class="header-nav-item parent-a"><a class="header-nav-item-main color-gray font-size-14 text-semibold" id="institutes-href">Институты Развития</a>
                    <ul class="menu-child">
                        <li><a href="#" class="color-gray font-size-12 text-regular">Фонд микрокредитования</a></li>
                        <li><a href="#" class="color-gray font-size-12 text-regular">Региональный центр инжиниринга</a></li>
                        <li><a href="#" class="color-gray font-size-12 text-regular">Гарантийный фонд</a></li>
                        <li><a href="#" class="color-gray font-size-12 text-regular">Центр кластерного развития</a></li>
                        <li><a href="#" class="color-gray font-size-12 text-regular">Центр спецификации, стандартизации и испытаний</a></li>
                        <li><a href="#" class="color-gray font-size-12 text-regular">Фонд развития промышленности</a></li>
                        <li><a href="#" class="color-gray font-size-12 text-regular">Центр поддержки предпринимательства</a></li>
                        <li><a href="#" class="color-gray font-size-12 text-regular">Центр поддержки экспорта</a></li>
                    </ul>
                </li>
                <li class="header-nav-item"><a href="news.html" class="header-nav-item-main color-gray font-size-14 text-semibold">Новости</a></li>
                <li class="header-nav-item"><a href="contacts.html" class="header-nav-item-main color-gray font-size-14 text-semibold pr-0">Контакты</a></li>
            </ul>
        </div>
    </div>
</header>
