<header class="header">
    <div class="header-info">
        <div class="container flex-box space-between flex-center">
            <form class="header-info-search">
                <input type="text" value placeholder="Поиск по сайту...">
            </form>
            <a href="#"><img src="img/krio-logo.svg"></a>
            <div class="header-info-contacts">
                <div><a href="#" class="text-regular font-size-14 color-gray">+7 (3952) 225-588</a></div>
                <div><a href="#" class="text-regular font-size-14 color-gray">Irkutsk@aokrio.ru</a></div>
            </div>
            <div>
                <a href="#" class="header-button color-blue font-size-14 text-semibold text-uppercase">Получить поддержку</a>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="container">
            <ul class="header-nav">
                <li class="header-nav-item"><a href="#" class="header-nav-item-main color-gray font-size-14 text-semibold pl-0">О Компании</a></li>
                <li class="header-nav-item parent-a"><a href="#" class="header-nav-item-main color-gray font-size-14 text-semibold">Услуги и Меры Поддержки</a>
                    <ul class="menu-child">
                        <li><a href="#" class="color-gray font-size-12 text-regular">Проектное финансирование</a></li>
                        <li><a href="#" class="color-gray font-size-12 text-regular">Поручительство</a></li>
                        <li><a href="#" class="color-gray font-size-12 text-regular">Кредитование и Лизинг</a></li>
                        <li><a href="#" class="color-gray font-size-12 text-regular">Создание инфраструктуры</a></li>
                    </ul>
                </li>
                <li class="header-nav-item"><a href="#" class="header-nav-item-main color-gray font-size-14 text-semibold">Инвестиционные Проекты</a></li>
                <li class="header-nav-item parent-a"><a href="#" class="header-nav-item-main color-gray font-size-14 text-semibold">Институты Развития</a></li>
                <li class="header-nav-item"><a href="#" class="header-nav-item-main color-gray font-size-14 text-semibold">Новости</a></li>
                <li class="header-nav-item"><a href="#" class="header-nav-item-main color-gray font-size-14 text-semibold pr-0">Контакты</a></li>
            </ul>
        </div>
    </div>
</header>
