.footer-lightblue {
  background: #379CD6;
  padding: 83px 0 75px;
}
.footer-darkblue {
  background: #22689E;
  padding: 12px 0;
}
.footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.footer-nav-item {
  position: relative;
  overflow: hidden;
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: white;
    bottom: 0;
    left: -100%;
    transition: .4s;
    opacity: .7;
  }
  &:hover {
    &::before
    {
      left: 0;
    }
  }
}
.footer-info {
  display: flex;
  padding-top: 63px;
  padding-left: 80px;
}
.footer-info-buttons {
  margin-left: 76px;
}
.footer-info-contacts
{
  margin-left: 62px;
  a {
    display: block;
    width: 100%;
    color: white;
    padding: 11px 0;
  }
  p {
    padding-bottom: 10px;
  }
}
.footer-up {
  width: 48px;
  height: 48px;
  border: 1px solid white;
  margin-left: auto;
  margin-top: auto;
  background-image: url("/../img/up-icon.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  transition: .4s;
  &:hover {
    background-color: white;
    background-image: url("/../img/up-icon-hover.svg");
    cursor: pointer;
  }
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.copyright {
  position: relative;
  overflow: hidden;
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: white;
    bottom: 0;
    left: -100%;
    transition: .4s;
    opacity: .7;
  }
  &:hover {
    opacity: 1;
    &::before
    {
      left: 0;
    }
  }
}