.pl-10 {
  padding-left: 10px;
}
.pb-5px {
  padding-bottom: 5px;
}
.pl-5px {
  padding-left: 5px;
}
.pt-3px {
  padding-top: 3px;
}
.pr-19 {
  padding-right: 19px;
}
.mt-7px {
  margin-top: -7px;
}
.pt-8 {
  padding-top: 8px;
}
.pl-16 {
  padding-left: 16px;
}
.pt-14
{
  padding-top: 14px;
}
.pt-21
{
  padding-top: 21px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-8 {
  margin-top: 8px;
}
