.main-page-banner {
  background-image: url("/../img/main-banner-background.jpg");
  background-size: cover;
  position: relative;
  border-bottom: 6px solid  #2388C2;
}
.map-bg1 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.map-bg2 {
  position: absolute;
  right: 200px;
  top: 27px;
  z-index: 0;
}
.main-page-banner-content {
  display: flex;
}
.main-page-banner-content-info {
  flex: 50%;
  padding: 169px 94px 304px 0;
}
.main-page-banner-content-counts {
  flex: 50%;
  padding-top: 44px;
  z-index: 2;
}
.banner-text-padding {
  padding: 42px 40px 29px 0;
}
.counts-item {
  max-width: 224px;
  margin-top: 40px;
}
.services-block {
  display: flex;
  position: relative;
  margin-top: -78px;
  z-index: 3;
}
.services-block-item {
  flex: 25%;
  width: 25%;
  justify-content: center;
  align-items: center;
  padding: 37px 54px 48px;
  text-align: center;
  &:hover {
    .services-button {
        background: white;
        color: rgba(51, 51, 51, 0.99);
    }
  }
}
.color-first {
  background: #2388C2;
}
.color-second{
  background: #379CD6;
}
.color-third{
  background: #5FB4E4;
}
.color-fourth {
  background: #80C7EF;
}
.service-padding {
  padding: 24px 0 28px;
  min-height: 91px;
  line-height: 100%;
}
.blocks-head {
  border-bottom: 2px solid #379CD6;
  width: 100%;
  flex: 100%;
  padding: 14px 0;
  margin-bottom: 40px;
}
.advantages-block {
  margin-top: 98px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}
.advantages-block-item {
  display: flex;
  flex: 50%;
  max-width: 50%;
  margin-top: 38px;
  align-items: center;
  padding-right: 114px;
}
.institutes-head {
  transition: .4s;
}
.institutes-block-item {
  display: flex;
  flex: 50%;
  max-width: 50%;
  margin-top: 38px;
  align-items: center;
  padding-right: 114px;
  .advantages-block-item-icon {
    border-radius: 50px;
    transition: .4s;
    border: 1px solid #666666;
  }
  img {
    transition: .4s;
  }
  &:hover{
    .advantages-block-item-icon {
      background: #40A8E4;
      border: 1px solid transparent;
      img {
        filter: invert(1) opacity(1) contrast(300%)
      }
    }
    .institutes-head {
      color: #40A8E4;
    }
  }
}
.success-head {
  width: 100%;
  padding: 29px 0 25px;
  background: #379CD6;
  text-align: center;
}
.success-item {
  display: flex!important;
}
.success-item-photo {
  flex: 50%;
  max-width: 50%;
  img {
    width: 100%;
    height: 100%;
  }
}
.slick-slider {
  display: flex!important;
  max-height: 436px;
}
.success-item-text {
  flex: 50%;
  max-width: 50%;
  background-color: #22689E;
  padding: 80px 0 80px 56px;
}
.success-item-text-block {
  max-width: 550px;
}
.success-slider .slick-prev.slick-arrow {
  position: absolute;
  left: 50%;
  margin-left: 420px;
  z-index: 1;
  width: 48px;
  height: 48px;
  color: transparent;
  bottom: 80px;
  border: 1px solid #40A8E4;
  background-color: #40A8E4;
  background-image: url("/../img/slider-arr-left.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  transition: .3s;
  &:hover {
    background-color: #2388C2;
    border: 1px solid #2388C2;
  }
}
.success-slider .slick-next.slick-arrow {
  position: absolute;
  left: 50%;
  margin-left: 478px;
  z-index: 1;
  width: 48px;
  height: 48px;
  color: transparent;
  bottom: 80px;
  border: 1px solid #40A8E4;
  background-color: #40A8E4;
  background-image: url("/../img/slider-arr-right.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  transition: .3s;
  &:hover {
    background-color: #2388C2;
    border: 1px solid #2388C2;
  }
}
.slider-button-more {
  display: inline-block;
  margin-top: 34px;
}
.success-slider button:focus {
  outline: none;
}
.story-count-block {
  flex: 25%;
  width: 25%;
  padding: 56px 0;
  text-align: center;
}
.development-institutions {
  display: flex;
  flex-wrap: wrap;
  padding: 98px 0 94px;
}
.institutions-more {
  display: flex;
  margin-left: auto;
  align-items: center;
  transition: .4s;
  p, img {
    transition: .4s;
  }
  &:hover {
    p {
      color: #2388C2;
    }
    img {
      filter: brightness(0.8);
    }
  }
}
.feedback-block {
  display: flex;
}
.getting-support {
  flex: 50%;
  max-width: 50%;
  background: #379CD6;
  padding: 104px 131px 61px 0;
}
.asking-question {
  flex: 50%;
  max-width: 50%;
  padding: 104px 50px 61px 0;
  border-top: 2px solid #379CD6;
  border-bottom: 2px solid #379CD6;
}
.asking-question-block {
  max-width: 470px;
  margin-left: 252px;
}
.getting-support-text-block {
  margin-left: auto;
}
.business-news {
  padding: 98px 0 103px;
}
.business-news-block {
  display: flex;
  position: relative;
}
.business-news-block-photo {
  flex: 50%;
  max-width: 50%;
}
.news-slider .slick-prev.slick-arrow, .news-slider .slick-next.slick-arrow {
  display: none!important;
}
.news-item {
margin-right: 38px;
  .news-item-head {
    transition: .4s;
  }
  &:hover {
    .news-item-head {
      color: #40A8E4;
    }
  }
}
.news-item-photoF
{
  img {
    width: 100%;
  }
}
.news-item:focus {
  outline: none;
}
.slick-dots {
  position: absolute;
  display: flex;
  left: 0;
  bottom: -21px;
  padding: 0;
  margin: 0;
  li {
    width: 30px;
    height: 2px;
    background: #40A8E4;
    opacity: 0.5;
    margin-right: 21px;
    transition: .3s;
  }
}
.slick-dots li button {
  display: none;
}
.slick-dots li.slick-active, .slick-dots li:hover {
  opacity: 1;
  cursor: pointer;
}
.business-news-block-text {
  flex: 50%;
  width: 50%;
  border-left: 2px solid #379CD6;
  margin-left: 38px;
  padding-left: 25px;
}
.news-right-item {
  a {
    transition: .4s;
    &:hover {
        color: #40A8E4;
    }
  }
}
.industry {
  .advantages-block-item {
    padding-right: 204px;
  }
}