.main-page-banner {
  background-image: url("/../img/main-banner-background.jpg");
  background-size: cover;
  position: relative;
  border-bottom: 6px solid  #2388C2;
}
.map-bg1 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.map-bg2 {
  position: absolute;
  right: 200px;
  top: 27px;
  z-index: 0;
}
.main-page-banner-content {
  display: flex;
}
.main-page-banner-content-info {
  flex: 50%;
  padding: 169px 94px 304px 0;
}
.main-page-banner-content-counts {
  flex: 50%;
  padding-top: 44px;
  z-index: 2;
}
.banner-text-padding {
  padding: 42px 40px 29px 0;
}
.counts-item {
  max-width: 224px;
  margin-top: 40px;
}
.services-block {
  display: flex;
  position: relative;
  margin-top: -78px;
}
.services-block-item {
  flex: 25%;
  width: 25%;
  justify-content: center;
  align-items: center;
  padding: 37px 54px 48px;
  text-align: center;
  a {
    margin-top: 33px;
  }
}
.color-first {
  background: #2388C2;
}
.color-second{
  background: #379CD6;
}
.color-third{
  background: #5FB4E4;
}
.color-fourth {
  background: #80C7EF;
}
.service-padding {
  padding: 24px 0 28px;
  min-height: 91px;
  line-height: 100%;
}
.blocks-head {
  border-bottom: 2px solid #379CD6;
  width: 100%;
  flex: 100%;
  padding: 14px 0;
  margin-bottom: 40px;
}
.advantages-block {
  margin-top: 98px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}
.advantages-block-item {
  display: flex;
  flex: 50%;
  max-width: 50%;
  margin-top: 38px;
  align-items: center;
  padding-right: 114px;
}