.invest-projects-banner {
  display: flex;
  border-bottom: 6px solid #379CD6;
  position: relative;
  z-index: 1;
}
.invest-projects-banner-text {
  padding-top: 112px;
  background: #22689E;
  flex: 50%;
  max-width: 50%;
}
.invest-projects-banner-photo {
  flex: 50%;
  max-width: 50%;
  img {
    width: 100%;
    max-height: 555px;
  }
}
.invest-banner-padding {
  padding-top: 42px;
  padding-right: 160px;
}
.invest-item-banner-padding {
  padding-top: 29px;
  padding-right: 107px;
}
.invest-head-padding {
  padding-right: 47px;
  padding-top: 30px;
}
.invest-project-banner-item-text {
  padding-top: 40px;
  flex: 50%;
  max-width: 50%;
  background: #22689E;
}
.invest-count-block {
  flex: 25%;
  width: 25%;
  padding: 46px 0;
  text-align: center;
}
.invest-count {
  margin-top: -70px;
  padding-bottom: 50px;
  position: relative;
  z-index: 3;
}
.invest-projects-items {
  display: flex;
  padding: 50px 0;
}
.invest-projects-items-photo {
  flex: 50%;
  max-width: 50%;
  padding-right: 87px;
 img {
   width: 100%;
 }
}
.invest-projects-items-text {
  flex: 50%;
  max-width: 50%;
  padding-right: 70px;
}
.invest-button {
  margin-top: 30px;
  display: inline-block;
}
.pagination {
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 50px;
  span {
    color: #40A8E4;
  }
  a {
    transition: .3s;
    &:hover {
      color: #40A8E4;
    }
  }
}
.pag-left{
  background-image: url("/../img/pagination-left.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-right: 15px;
}
.pag-right{
  background-image: url("/../img/pagination-right.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-left: 15px;
}
.page {
  margin: 0 13px;
}
.about-project {
  display: flex;
  padding: 84px 0 81px;
}
.about-project-team {
  flex: 50%;
  max-width: 50%;
  padding-right: 165px;
}
.about-project-achievements {
  flex: 50%;
  max-width: 50%;
  padding-left: 83px;
}
.item-blocks {
  display: flex;
}
.item-blocks-photo {
  flex: 50%;
  max-width: 50%;
  img {
    width: 100%;
    height: 100%;
  }
}
.item-blocks-text {
  flex: 50%;
  max-width: 50%;
  background: #2388C2;
  padding: 119px 160px 119px 83px;
}
.item-blocks-text-left {
  flex: 50%;
  max-width: 50%;
  background: white;
  padding: 119px 100px 119px 184px;
}
.item-blocks-text-block {
  max-width: 725px;
}
.item-blocks-text-block-left {
  max-width: 680px;
}
.man-first-text {
  flex: 50%;
  max-width: 50%;
  padding-right: 88px;
}
.man-second-text {
  flex: 50%;
  max-width: 50%;
  padding-left: 88px;
}
.production-rate-content {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0;
  &-photo {
    flex: 50%;
    max-width: 50%;
  }
  &-text {
    flex: 50%;
    max-width: 50%;
  }
}
.production-first-text {
  padding-left: 100px;
}
.production-first-photo {
  padding-right: 115px;
}
.production-second-text {
  padding-top: 98px;
  padding-right: 100px;
}
.production-second-photo {
  padding-top: 80px;
}