@media (max-width: 1745px) {
  .map-bg1 {
    right: -130px;
  }
  .map-bg2 {
    right: 50px;
  }
}
@media (max-width: 1600px) {
  .asking-question-block {
    margin-left: 150px;
  }
}
@media (max-width: 1450px) {
  .success-item-photo img {
    max-height: none;
  }
  .map-bg1 {
    right: -230px;
  }
  .map-bg2 {
    right: -50px;
  }
  .getting-support {
    padding: 70px 50px 70px 0;
  }
  .asking-question {
    padding: 70px 50px 70px 0;
  }
  .success-item-text-block {
    max-width: 500px;
  }
  .asking-question-block {
    max-width: 500px;
    margin-left: 125px;
  }
}
@media (min-width: 1401px) {
  .container {
    max-width: 1328px;
  }
}
@media (max-width: 1400px) {
  .contacts-block-info {
    padding-left: 80px;
  }
  .news-page-other {
    display: none;
  }
  .news-page-about {
    width: 100%;
    .news-item-banner {
      width: 100%;
      max-width: 800px;
    }
  }
  .news-page-about-container {
    padding-right: 0;
  }
  .news {
    justify-content: center;
  }
  .news-page-item {
    margin-right: 30px;
    margin-bottom: 30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .news-banner-text {
    h2 {
      font-size: 36px;
    }
    padding: 60px;
    display: flex;
    align-items: center;
  }
  .production-first-photo {
    padding-right: 20px;
    img {
      width: 100%;
    }
  }
  .production-first-text {
    padding-left: 20px;
  }
  .production-second-text {
    padding-right: 20px;
  }
  .production-second-photo {
    padding-left: 20px;
    img {
      width: 100%;
    }
  }
  .man-first-text {
    padding-right: 5px;
    img {
      width: 100%;
    }
  }
  .man-second-text {
    padding-left: 5px;
    img {
      width: 100%;
    }
  }
  .invest-project-banner-item-text {
    padding: 50px;
    h2 {
      font-size: 30px;
    }
  }
  .invest-head-padding {
    padding-right: 0;
    padding-top: 15px;
  }
  .invest-item-banner-padding {
    padding-right: 0;
    padding-top: 15px;
  }
  .header-nav-item-main {
    padding: 15px 45px;
  }
  .parent-a::before {
    right: 23px;
  }
  .business-news-block-photo {
    flex: 30%;
    max-width: 30%;
  }
  .business-news-block-text {
    margin-left: 0;
    z-index: 10;
  }
  .invest-projects-banner-text {
    padding: 60px;
    h2 {
      font-size: 36px;
    }
  }
  .services-content-menu-item {
    padding: 40px 20px;
  }
  .services-content-menu-item img {
    margin-right: 15px;
  }
}
@media (max-width: 1220px) {
  .success-item-text {
    padding-right: 30px;
  }
  .invest-banner-padding {
    padding-top: 30px;
    padding-right: 20px;
  }
}
@media (max-width: 1200px) {
  .contacts-block {
    padding: 50px;
  }
  .item-blocks-text {
    padding: 60px;
  }
  .item-blocks-text-left {
    padding: 60px;
  }
  .services-content {
    margin-top: 50px;
    flex-wrap: wrap;
  }
  .services-content-menu {
    flex: 100%;
    max-width: 100%;
  }
  .services-content-info {
    flex: 100%;
    max-width: 100%;
    margin-top: 40px;
  }
  .service-item-text {
    padding: 10px 20px;
  }
  .invest-projects-banner-photo img {
    width: 100%;
    height: 100%;
    max-height: none;
  }
  .services {
    margin-top: 50px;
  }
  .map-bg1 {
    right: -330px;
  }
  .map-bg2 {
    right: -170px;
  }
  .main-page-banner-content-counts {
    padding-left: 50px;
  }
  .main-page-banner-content-info {
    padding-right: 0;
  }
  .header-nav-item-main {
    padding: 15px 27px;
  }
  .parent-a::before {
    right: 16px;
  }
  .header-info-search {
    width: 350px;
  }
  .services-block {
    flex-wrap: wrap;
  }
  .services-block-item {
    flex: 50%;
    max-width: 50%;
  }
  .advantages-block-item {
    flex: 100%;
    max-width: 100%;
  }
  .institutes-block-item {
    flex: 100%;
    max-width: 100%;
  }
  .getting-support {
    padding: 70px 50px 70px 0;
  }
  .asking-question {
    padding: 70px 50px 70px 0;
  }
  .success-item-text-block {
    max-width: 450px;
  }
  .asking-question-block {
    max-width: 450px;
    margin-left: 70px;
  }
  .business-news-block-text {
    margin-left: 38px;
  }
  .container-new {
    max-width: 936px;
  }
  .footer-info {
    padding-left: 0;
  }
  .cop-rowstudio {
    margin-left: auto;
    margin-top: 20px;
  }
}
@media (max-width: 1100px) {
  .success-slider .slick-prev.slick-arrow {
    bottom: 195px;
    margin-left: 365px;
  }
  .success-slider .slick-next.slick-arrow {
    bottom: 195px;
    margin-left: 430px;
  }
  .map-bg2 {
    width: 50%;
    top: 85px;
  }
  .map-bg1 {
    right: -470px;
  }
  .success-item-text {
    padding: 30px;
  }
  .getting-support-text-block {
    margin-left: 70px;
  }
  .invest-count {
    margin-top: 40px;
  }
  .li-nowrap {
    white-space: normal;
  }
}
@media (max-width: 1082px) {
  .success-slider .slick-prev.slick-arrow {
    bottom: 210px;
  }
  .success-slider .slick-next.slick-arrow {
    bottom: 210px;
  }
}
@media (min-width: 992px) {
  .menu-child {
    opacity: 0;
    transition: .4s;
    visibility: hidden;
    position: absolute;
    left: -1px;
    right: -1px;
    height: auto;
    background: #EEEEEE;
    padding: 10px 35px;
    top: 100%;
    text-align: center;
    z-index: 3;
    li {
      padding: 5px 0;
    }
    a:hover {
      color: rgba(51, 51, 51, 0.99);
    }
  }
  .burger {
    display: none;
  }
  .parent-a {
    &:hover {
      .menu-child {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .header-nav-item {
    &:hover
    {
      .header-nav-item-main {
        color: #40A8E4;
      }
      &::before
      {
        background-image: url("/../img/arrow-down-hover.svg");
      }
    }
  }
}
@media (max-width: 991px) {
  .success-slider .story-count {
    display: none;
  }
  .success-slider .slick-prev.slick-arrow {
    bottom: 32px;
    margin-left: 360px;
  }
  .success-slider .slick-next.slick-arrow {
    bottom: 32px;
    margin-left: 425px;
  }
  .contacts {
    margin-top: 40px;
  }
  .contacts-head {
    padding: 30px;
    p {
      font-size: 26px;
    }
  }
  .contacts-block {
    flex-wrap: wrap;
  }
  .contacts-block-feedback {
    flex: 100%;
    max-width: 100%;
  }
  .contacts-block-info {
    padding-left: 0;
    flex: 100%;
    max-width: 100%;
    padding-top: 40px;
  }
  .news-page-item {
    flex: calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin-right: 10px!important;
  }
  .news-banner-text {
    flex: 100%;
    max-width: 100%;
  }
  .news-banner-photo {
    display: none;
  }
  .production-rate-content {
    .font-size-26 {
      font-size: 20px;
    }
  }
  .production-first-photo {
    flex: 100%;
    max-width: 100%;
  }
  .production-first-text {
    flex: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-top: 40px;
  }
  .production-second-text {
    flex: 100%;
    max-width: 100%;
    padding-right: 0;
  }
  .production-second-photo {
    flex: 100%;
    max-width: 100%;
    padding-left: 0;
  }
  .man-first-text {
    flex: 100%;
    max-width: 100%;
  }
  .man-second-text {
    flex: 100%;
    max-width: 100%;
    margin-top: 40px;
  }
  .item-blocks-photo img {
    width: auto;
  }
  .invest-project-banner-item-text {
    flex: 100%;
    max-width: 100%;
  }
  .invest-projects-items {
    &-photo {

      padding-right: 20px;
    }
    &-text {

      padding-right: 0;
    }
  }
  .service-item-icon {
    width: 170px;
    padding: 30px 5px;
    img {
      width: 35px;
    }
    p {
      font-size: 14px;
    }
  }
  .service-item-arrow {
    width: 65px;
  }
  .service-item-text {
    width: calc(100% - 235px);
    border-right: none;
  }
  .about-project {
    flex-wrap: wrap;
  }
  .about-project-team {
    padding-right: 30px;
  }
  .about-project-achievements {
    padding-left: 30px;
  }
  .item-blocks-text {
    padding: 60px;
  }
  .invest-count {
    flex-wrap: wrap;
  }
  .invest-count-block {
    flex: 50%;
    max-width: 50%;
  }
  .invest-projects-banner-text {
    flex: 100%;
    max-width: 100%;
  }
  .invest-projects-banner-photo {
    display: none;
  }
  .half-container {
    margin-left: 0;
  }
  .success-head {
    p {
      font-size: 20px;
    }
  }
  .success-item-text-block {
    .font-size-26 {
      font-size: 20px;
    }
  }
  .asking-question-block {
    .font-size-26 {
      font-size: 20px;
    }
  }
  .advantages-block-item-text {
    .font-size-20 {
      font-size: 17px;
    }
  }
  .blocks-head {
    .font-size-26 {
      font-size: 20px;
    }
  }
  .services-block-item {
     p {
       font-size: 18px;
     }
  }
  .menu-child {
    padding: 10px 25px;
    li {
      padding: 5px 0;
    }
  }
  .blocks-head {
    .flex-box {
      flex-wrap: wrap;
      p {
        flex: 100%;
      }
      a {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
  .header-nav {
    width: 100%;
    max-width: 300px;
    position: absolute;
    right: -100%;
    top: 100%;
    z-index: 25;
    display: block;
    background: white;
    padding-bottom: 20px;
    border-bottom: 4px solid #40A8E4;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
    transition: .7s;
  }
  .parent-a::before {
    top: 22px;
  }
  .header-nav-item-main {
    padding-left: 15px!important;
  }
  .header-menu {
    border-bottom: none;
  }
  .header-info-search {
    width: 270px;
    margin: 15px auto;
  }
  .open-menu {
    right: 0;
  }
  .menu-child {
    position: relative;
    opacity: 1;
    visibility: visible;
    text-align: left;
    display: none;
    background: transparent;
    li {
      a {
        font-size: 14px;
      }
    }
  }
  .map-bg2 {
    display: none;
  }
  .main-page-banner-content-counts {
    text-align: end;
    padding-right: 50px;
    .flex-box {
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }
  .counts-item {
    max-width: none;
  }
  .main-page-banner-buttons {
    flex-wrap: wrap;
    .main-white-button {
      margin-top: 15px;
      padding: 16px 45px;
    }
  }
  .main-page-banner {
    background-image: none;
    overflow: hidden;
  }
  .main-page-banner-content-info {
    padding: 80px 0 100px;
  }
  .services-block {
    margin-top: 40px;
  }
  .story-count-block {
    flex: 50%;
    max-width: 50%;
  }
  .story-count {
    flex-wrap: wrap;
  }
  .success-item-photo {
    display: none;
  }
  .success-item-text {
    flex: 100%;
    max-width: 100%;
  }
  .success-slider .slick-prev.slick-arrow {
    margin-left: 0;
  }
  .success-slider .slick-next.slick-arrow {
    margin-left: 60px;
  }
  .slick-slide img {
    width: 100%;
  }
  .news-item {
    margin-right: 5px;
  }
  .getting-support, .asking-question {
    padding: 40px;
  }
  .getting-support-text-block, .asking-question-block {
    margin-left: 0;
  }
  .footer-nav {
    display: none;
  }
  .footer-lightblue {
    padding: 40px;
  }
  .footer-info {
    padding: 0;
  }
  .container-new {
    max-width: 720px;
  }
  .footer-info-buttons, .footer-info-contacts {
    margin-left: 20px;
  }
  .footer-up {
    position: absolute;
    right: 40px;
    top: 35px;
  }
  .privacy {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .contacts-block-feedback, .contacts-block-info {
    .font-size-26 {
      font-size: 20px;
    }
  }
  .contacts-block {
    padding-left: 0;
    padding-right: 0;
  }
  .news-page {
    padding: 40px 0;
  }
  .item-blocks-text-left {
    flex: 100%;
    max-width: 100%;
  }
  .invest-projects-items {
    flex-wrap: wrap;
    &-photo {
      flex: 100%;
      max-width: 100%;
      padding-right: 0;
    }
    &-text {
      flex: 100%;
      max-width: 100%;
      padding-right: 0;
      padding-top: 40px;
    }
  }
  .bread-crumb-absolute {
    top: 25px;
    left: 82px;
  }
  .bread-crumb p {
    font-size: 14px!important;
  }
  .service-item {
    flex-wrap: wrap;
  }
  .service-item-icon {
    width: 100%;
    flex: 100%;
  }
  .service-item-text {
   display: none;
  }
  .service-item-arrow {
    background-size: 20px;
  }
  .invest-count-block {
    flex: 100%;
    max-width: 100%;
  }
  .about-project-team {
    flex: 100%;
    max-width: 100%;
    padding-right: 0;
  }
  .about-project-achievements {
    flex: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-top: 40px;
  }
  .item-blocks-photo {
    display: none;
  }
  .item-blocks-text {
    flex: 100%;
    max-width: 100%;
  }
  .industry {
    .advantages-block-item {
      padding-right: 0;
    }
  }
  .business-news-block-text {
    display: none;
  }
  .main-page-banner {
    h2 {
      font-size: 25px;
      text-align: center;
    }
    p {
      padding: 40px 0;
      text-align: center;
    }
  }
  .main-page-banner-buttons {
    justify-content: center;
  }
  .main-page-banner-content {
    flex-wrap: wrap;
    .main-page-banner-buttons .main-white-button {
      margin-top: 0;
    }
    .main-page-banner-content-info {
      padding: 50px 0;
    }
    .main-page-banner-content-counts {
      display: none;
    }
  }
  .header-getting-support-button {
    margin-left: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .services-block-item {
    flex: 100%;
    max-width: 100%;
  }
  .advantages-block-item {
    padding-right: 20px;
  }
  .institutes-block-item {
    padding-right: 20px;
  }
  .feedback-block {
    flex-wrap: wrap;
  }
  .asking-question, .getting-support {
    flex: 100%;
    max-width: 100%;
  }
  .asking-question-block, .getting-support-text-block {
    margin: 0 auto;
  }
  .business-news-block-photo {
    flex: 100%;
    max-width: 100%;
  }
  .business-news-block {
    flex-wrap: wrap;
  }
  .business-news-block-text {
    margin-left: 0;
    margin-top: 50px;
    padding-left: 0;
    border-left: none;
  }
  .footer-info {
    flex-wrap: wrap;
  }
  .footer-up {
    top: 40px
  }
  .footer-info-contacts {
    margin-left: 0;
    margin-top: 40px;
  }
  .footer-copyright {
    a {
      flex: 100%;
    }
    p {
      flex: 100%;
    }
    .policy {
      margin-top: 20px;
    }
  }
}
@media (min-width: 576px) {
  .advantages-block-item{
    align-items: center;
  }

}
@media (max-width: 575px) {

  .main-page-banner-buttons {
    display: flex;
    flex-wrap: wrap;
    a {
      flex: 100%;
      max-width: 270px;
      text-align: center;
    }
  }
  .footer-lightblue {
    padding: 40px 20px;
  }
  .asking-question, .getting-support {
    padding: 40px 20px;
  }
  .contacts-head {
    padding: 20px 5px;
    p {
      font-size: 22px;
    }
  }
  .input-box {
    flex-wrap: wrap;
  }
  .input-box-item-first {
    margin-right: 0;
  }
  .input-box-item-second {
    margin-left: 0;
    margin-top: 12px;
  }
  .news-page-item {
    flex: 100%;
    max-width: 100%;
  }
  .news-banner-text {
    h2 {
      font-size: 28px;
    }
    padding: 45px;
  }
  .item-blocks-text-left {
    padding: 30px;
  }
  .invest-project-banner-item-text {
    padding: 45px;
  }
  .invest-projects-items-text {
    .font-size-26 {
      font-size: 20px;
    }
  }
  .bread-crumb-absolute {
    left: 16px;
  }
  .services-content-menu-item {
    p {
      font-size: 16px;
    }
  }
  .institutes-service-button {
    padding: 18px 6px;
    p {
      font-size: 16px;
    }
  }
  .services-content-info-textblock-more {
    padding: 18px 10px;
  }
  .services-content-info-textblock .parent-li {
    padding: 10px;
    .wrap-ul {
      column-count: 1;
    }
  }
  .services-content-info-head {
    text-align: center;
    padding: 52px 10px;
    p {
      font-size: 20px;
    }
  }
  .services-content-info-block {
    padding: 0;
  }
  .services-content-info-textblock {
    h3 {
      font-size: 20px;
    }
    ul {
      padding-left: 17px;
    }
  }
  .item-blocks-text {
    padding: 30px;
  }
  .invest-projects-banner-text {
    padding: 45px;
  }
  .invest-projects-banner-text h2 {
    font-size: 28px;
  }
  .main-page-banner-buttons {
    .main-blue-button {
      margin-right: 0;
    }
  }
  .success-item-text-block {
    max-width: none;
    .main-blue-button {
      width: 100%;
      text-align: center;
    }
  }
  .getting-support-button {
    width: 100%;
    text-align: center;
    padding: 16px 32px;
  }
  .asking-question {
    .trnsp-btn {
      width: 100%;
      text-align: center;
    }
  }
  .story-count {
    display: none;
  }
  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-info {
    img {
      width: 100px;
    }
  }
  .main-page-banner-content .main-page-banner-buttons .main-white-button {
    margin-top: 20px;
  }
  .advantages-block-item {
    padding-right: 0;
  }
  .advantages-block-item-text {
    padding-left: 9px;
  }
  .success-slider {
    min-height: 550px;
    background-color: #22689e;
  }
  .success-slider .slick-prev.slick-arrow {
    margin-left: 0;
    left: calc(50% - 53px);
  }
  .success-slider .slick-next.slick-arrow {
    margin-left: 0;
    left: calc(50% + 5px);
  }
  .story-count-block {
    flex: 100%;
    max-width: 100%;
  }
  .institutes-block-item img {
    width: 45px;
  }
  .advantages-block-item-icon img {
    width: 45px;
  }
  .institutes-block-item {
    padding-right: 0;
  }
  .footer-up {
    display: none;
  }
}
@media (max-width: 519px) {
  .footer-info-buttons {
    margin-top: 40px;
    margin-left: 0;
    flex: 100%;
  }
  .footer-logo {
    margin: 0 auto;
  }
  .footer-info-contacts {
    width: 100%;
    text-align: center;
  }
  .footer-copyright {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .news-banner-text {
    padding: 60px 30px;
  }
  .invest-project-banner-item-text {
    padding: 60px 30px;
  }
  .invest-projects-banner-text {
    padding: 60px 30px;
  }
  .invest-projects-banner-item-text h2 {
    font-size: 26px;
  }
  .invest-projects-banner-text h2 {
    font-size: 26px;
  }
}
@media (max-width: 360px) {
  .success-slider {
    min-height: 650px;
    .main-blue-button {
      margin-right: 0;
    }
  }
}